extends baseEmail

block content
    p Hi #{firstName},
    p You are invited to the meeting:
    ul
        li
            strong Title:
            |  #{title}
        li
            strong Description:
            |  #{description || 'N/A'}
        li
            strong Start Time:
            |  #{startTime}
        li
            strong End Time:
            |  #{endTime}
    p
        a(href=calendarLink target="_blank") Add to Google Calendar
