extends baseEmail

block content
  p Reminder: Your meeting is scheduled to start in 
    b 15 minutes
  p Here are the details:
  ul
    li
      strong Title:
      |  #{title}
    li
      strong Description:
      |  #{description || 'N/A'}
    li
      strong Start Time:
      |  #{startTime}
    li
      strong End Time:
      |  #{endTime}
  p
    a(href=calendarLink target="_blank") Add to Google Calendar
